<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Мапа</title>
  <style>
    body{
      background-color:darkseagreen;
    }
    h1{
      color:black;

      font-family: "Lucida Console", "Courier New", monospace;

    }

  </style>
</head>
<body>

<h1>Мапа на банкомати и филијали</h1>
<div><iframe src="https://maps.co/embed/6388efc8c3265986008622ldvcd897b" width="800" height="600" frameborder="0" allowfullscreen></iframe><div><a href="https://maps.co">Powered by MAPS</a></div></div>
</body>
</html>