<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>

    <style>
        body{
            background-color: darkseagreen;
        }
        .div5,.div6,.div7{
            font-size: 24px;
            font-weight: bold;
            margin-left:20px;

        }
        .div4{
            border:20px solid deeppink;
            display: inline-block;
            margin:220px 400px;

        }
    </style>
</head>
<body>
<div class="cities">
    <ul>
        <div th:each="banka : ${banki}">
            <div class="div1">
                <div class="col-md-10">
                    <div class="div2">
                        <div class="div3">
                            <div class="div4" style="width: 500px">

                                <p class="div5">Name: <th:block th:text="${banka.getName() != null ? banka.getName() : '/' }"></th:block> </p>
                                <p class="div6">City: <th:block th:text="${banka.getCity() != null ? banka.getCity() : '/' }"></th:block> </p>
                                <p class="div7">Address: <th:block th:text="${banka.getAddress() != null ? banka.getAddress() : '/' }"></th:block> </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>
</body>
</html>